@import "../../../variables.scss";
@import "../common.scss";

.root {
  display: flex;
  justify-content: space-between;
  transition: background-color 50ms ease-in-out;
  padding-left: 8px;
  font-size: 14px;
  border-top: 1px solid #2a2a2a;
  padding-bottom: 10px;
  padding-top: 10px;

  &:hover {
    background-color: $cardColor;
  }

  &:last-of-type {
    border-bottom: 1px solid #2a2a2a;
  }
}

.recordBody {
  max-width: 400px;
}

.recordTitle {
  font-weight: 600;
}

.recordTotalPointScore {
  font-weight: normal;
}

.recordDescription {
  margin-top: 4px;
  color: #dadada;
}

.recordExpiration {
  composes: recordDescription;
  margin-top: 8px;
  font-style: italic;
}

.expiresIcon {
  padding-right: 5px;
  font-size: 1.6em;
  color: #d7e360;
}

.players {
  display: flex;
  margin: -10px 0;
}

.players > div {
  flex: 1 1 0px;
}

$complete: hsl(123, 41%, 45%);
$incomplete: hsl(1, 77%, 55%);
$incomplete-lighter: lighten($incomplete, 20%);

.complete {
  background: $complete;

  --bg: #{$complete};
  --track-bg: hsl(123, 33%, 60%);
}

.incomplete {
  background: $incomplete;

  --bg: #{$incomplete};
  --track-bg: hsl(1, 77%, 70%);
}

.player {
  padding: 10px;
  width: $player-width;

  & + & {
    margin-left: 10px;
  }
}

// Objective
$objective-height: 24px;
.objective {
  margin-bottom: 4px;
  display: flex;
  height: $objective-height;
  overflow: hidden;
  text-shadow: 0 0 5px var(--bg);
}

.objectiveIndicatorIncomplete {
  flex: 0 0 $objective-height;
  width: $objective-height;
  height: $objective-height;
  border: 1px solid var(--track-bg);
  outline: 2px black;
  margin-right: 2px;
}

.objectiveIndicatorComplete {
  composes: objectiveIndicatorIncomplete;
  position: relative;
  border-color: rgba(white, 0.95);

  &:after {
    $inset: 2px;

    content: "";
    top: $inset;
    left: $inset;
    bottom: $inset;
    right: $inset;
    display: block;
    position: absolute;
    background: rgba(white, 0.95);
  }
}

.objectiveBar {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
  white-space: nowrap;
  line-height: 1;
  overflow: hidden;
  font-size: 13px;
  align-items: center;
  border: 1px solid var(--track-bg);
}

.objectiveScore {
  padding: 0 6px;
}

.objectiveName,
.objectiveScore {
  position: relative;
  z-index: 2;
}

.objectiveName {
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1 1 100%;
  padding-left: 6px;
  line-height: initial;

  // .complete & {
  //   text-shadow: 1px 1px 0 $complete, -1px -1px 0 $complete, 1px -1px $complete,
  //     -1px 1px $complete;
  // }

  // .incomplete & {
  //   text-shadow: 1px 1px 0 $incomplete, -1px -1px 0 $incomplete,
  //     1px -1px $incomplete, -1px 1px $incomplete;
  // }
}

.objectiveTrack {
  position: absolute;
  z-index: 2;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  background: var(--track-bg);
  width: 55%;
}

.intervalMarker {
  position: absolute;
  z-index: 3;
  top: 2px;
  bottom: 2px;
  width: 1px;
  background: rgba(white, 0.5);
  margin-left: -1px;
}

.rewardIcon {
  height: 1.5em;
  vertical-align: middle;
}
