@import "../../variables.scss";

.root {
  border-radius: $borderRadius;
  background: $cardColor;
  overflow: hidden;
  font-size: 14px;
}

.image {
  width: 100%;
  display: block;
}

.content {
  padding: 16px;
}

.nameSplit {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.name {
  font-size: 18px;
  font-weight: 600;
}

.tag {
  background: $accentColor;
  border-radius: $borderRadius / 2;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 600;
  display: inline-block;
}

.statSplit {
  display: flex;

  > div {
    flex: 1;
  }
}

.smallHeading {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 4px;
}

.statHeading {
  font-weight: 600;
  margin-bottom: 2px;
}

.statGroup {
  margin-top: 16px;
}
