.root {
  min-height: 75vh;
  margin: auto;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 32px;
    // opacity: .95;
    color: #ecca48;
  }

  h2 {
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 0;
  }

  p {
    font-size: 26px;
    line-height: 1.4;
    margin: 46px 0;
  }
}

.grid {
  display: grid;
  gap: 32px;
  align-items: center;
  padding: 32px;
  grid-template-columns: 1fr;

  @media screen and (min-width: 960px) {
    grid-template-columns: 3fr 2fr;
  }

  @media screen and (min-width: 1400px) {
    grid-template-columns: 2fr 1fr;
  }
}

.archiveGrid {
  composes: grid;
  margin-top: 96px;
  margin-bottom: 192px;

  grid-template-columns: 1fr;

  @media screen and (min-width: 960px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 1400px) {
    grid-template-columns: 1fr 1fr;
  }
}

.floatRight {
  // display: flex;
  // justify-content: flex-end;
}

.discordButton {
  color: white;
  text-decoration: none;
  padding: 16px 20px;
  display: inline-block;
  border-radius: 16px;
  font-weight: 500;
  font-size: 22px;
  border: 3px solid #ecca48;
  color: #ecca48;

  > * {
    vertical-align: middle;
  }

  &:hover {
    background: rgba(#ecca48, 0.2);
  }
}

.archiveButton {
  composes: discordButton;

  > * {
    vertical-align: initial;
  }
}

.discordSvg {
  height: 1.3em;
  color: white;
  fill: white;
  display: inline-block;
  margin-right: 0.5ch;
}

.archiveIcon {
  font-size: 1.1em;
  color: white;
  fill: white;
  display: inline-block;
  margin-right: 0.5ch;
}
