@import "../../variables.scss";

.header {
  display: flex;
  font-size: 0.9em;
  opacity: 0.9;
}

.rankHeader {
  padding: 0 16px;
  min-width: 60px;
}

.mainHeader {
  min-width: 60px;
  flex: 1;
}

.otherHeader {
  padding: 0 16px;
}

.table {
  background: rgba(white, 0.05);
  box-shadow: $shadow-4;
  padding: 0;
  border-radius: 5px;
  margin-top: 8px;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  transition: background 50ms ease-in-out;
  padding: 4px 0;

  &:hover {
    background: rgba(white, 0.1);
  }

  &:first-of-type {
    padding-top: 8px;
    border-radius: 5px 5px 0 0;
  }

  &:last-of-type {
    padding-bottom: 8px;
    border-radius: 0 0 5px 5px;
  }
}

.cell {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.rankCell {
  composes: cell;
}

.rank {
  font-size: 30px;
  padding: 16px;
  min-width: 92px;
  font-weight: 600;
  line-height: 36px;
  display: flex;
  justify-content: center;
}

.main {
  flex: 1;
  composes: cell;
}

.other {
  composes: cell;
  padding-right: 16px;
}

.name {
  font-weight: 600;
  margin-bottom: 8px;
}

.sub {
  font-size: 0.9em;
  opacity: 0.9;
}

.platforms {
  font-size: 0.9em;
}

.platformIcon {
  padding-right: 0.5em;
}

.primaryPlatformIcon {
  composes: platformIcon;
}

.secondaryPlatformIcon {
  composes: platformIcon;
  opacity: 0.6;
}

.rankFourDigit {
  font-size: 22px;
}
.rankFiveDigit {
  font-size: 17px;
}
.rankSixDigit {
  font-size: 14px;
}

.divider {
  height: 1px;
  background: rgba(white, 0.15);
  margin: 0 16px;
  margin-top: -1px;
  margin-bottom: -1px;
}
