@import "../../variables.scss";

.root {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.triumphs {
  font-size: 18px;
}

.node {
  display: flex;
  margin-bottom: 10px;

  .node & {
    font-size: 0.9em;
  }
}

.node .node {
  margin: 16px 8px;
}

.nodeHeading {
  font-size: 1.2em;
  font-weight: 600;
  margin: 0;
}

.side {
  display: flex;
  flex: 0;
  // width: 10px;
  margin-right: 5px;
}

.main {
  flex: 1;
}

.collapseButton {
  background: rgba(white, 0.1);
  width: 2px;

  border: 0 solid $bg;
  border-width: 0 4px;

  box-sizing: content-box;
  height: 100%;
  appearance: none;
  padding: 0;
  font-size: 0;
  outline: none !important;
  cursor: pointer;
  transition: 150ms ease-in-out all;

  &:hover {
    background: rgba(white, 0.2);
  }
}

.expandButton {
  composes: collapseButton;
  background: rgba(white, 0.05);

  &:hover {
    background: rgba(white, 0.1);
  }
}

.record + .record {
  margin-top: 16px;
}

.recordTitle {
  font-weight: 600;
  // margin-bottom: 8px;
}
