@import "../../variables.scss";

.root {
  padding: 0 20px;
  margin: auto;
}

.triumphs {
  font-size: 18px;
}

.addPlayerButton {
  border-radius: $borderRadius;
  background: rgba(white, 0.1);
  color: inherit;
  border: none;
  font-family: inherit;
  font-size: 14px;
  padding: 8px;
  font-weight: bold;
  margin-top: -8px;

  &:hover {
    background: rgba(white, 0.2);
  }
}

.modal {
  background: $bg;
  width: $containerWidth / 2;
  margin: 32px auto;
  padding: 32px;
  border-radius: $borderRadius;
  box-shadow: $shadow-5;
}

.modalOverlay {
  background: rgba(black, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.modalTitle {
  margin-top: 0;
}

.modalClose {
  font-size: 20px;
  background: rgba(white, 0.1);
  border: none;
  color: inherit;
  border-radius: $borderRadius;
  padding: 0;
}

.modalCloseInner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5em;
  width: 1.5em;
  padding: 0;
  line-height: 0;
}

.removePlayerButton {
  background: none;
  border: none;
  font-size: inherit;
  color: inherit;
  transition: 150ms ease-in-out;
  opacity: 0;
  cursor: pointer;

  @media (hover: none) {
    opacity: 1 !important;
  }
}
