@import "../../variables.scss";

* {
  box-sizing: border-box;
}

.container {
  max-width: $containerWidth;
  padding: 0 $containerPadding;
  margin: auto;
}

.nightfalls {
  display: flex;
  overflow: auto;

  // padding: $containerPadding 0;
  scroll-snap-type: x mandatory;

  padding-left: calc(((100vw - #{$containerWidth}) / 2));
  scroll-padding-left: calc(
    ((100vw - #{$containerWidth}) / 2) + #{$containerPadding}
  );

  @supports (scroll-snap-type: x mandatory) {
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  @media screen and (max-width: $containerWidth) {
    scroll-padding-left: $containerPadding;
    padding-left: 0;
  }

  > div {
    scroll-snap-align: start;
    flex-shrink: 0;
  }
}

.nightfallCard {
  max-width: 350px;
  margin: 0 $containerPadding;
}

.spacerwtf {
  width: 1px;
  margin-left: -1px;
}

.explainer {
  font-size: 0.9em;
  opacity: 0.9;
  margin-bottom: 32px;
}
