$sizeMultiplier: 1.2;

@function size($value) {
  @return $value * $sizeMultiplier;
}

.root {
  border-radius: size(4px);
  border-left: size(4px) solid rgb(46, 204, 112);
  background: darken(#2f3136, 5%);
  max-width: size(520px);
  font-size: size(16px);
  font-family: Whitney, Inter, sans-serif;
  color: rgb(220, 221, 222);

  a {
    color: rgb(0, 175, 244);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.content {
  padding: size(8px) size(16px) size(16px) size(12px);
}

.title {
  font-weight: 600;
  margin-top: size(8px);
  color: white;
  line-height: size(22px);
}

.description {
  margin-top: size(8px);
  font-size: size(14px);
  line-height: size(18px);
}

.fields {
  margin-top: size(8px);
  font-size: size(14px);
  line-height: size(18px);
}

.field {
  & + & {
    margin-top: size(10px);
  }
}

.fieldTitle {
  color: white;
  font-weight: 600;
  margin-bottom: size(2px);
}

.emoji {
  display: inline-block;
  vertical-align: baseline;
  margin-bottom: 2px;
}

.emoji img {
  height: size(16px);
  width: size(16px);
  vertical-align: bottom;
}
