@import "../../variables.scss";

.container {
  max-width: $containerWidth;
  padding: 0 $containerPadding;
  margin: auto;
}

.staleData {
  opacity: 0.5;
}

.explainer {
  font-size: 0.9em;
  opacity: 0.9;
  text-align: center;
  margin-bottom: 32px;
}

.search {
  width: 100%;
  max-width: 500px;
  margin: 32px auto;
}

.footer {
  composes: explainer;
  margin: 16px 0 32px 0;
}

.leaderboards {
  composes: container;
  margin-bottom: 48px;
}

.button {
  composes: moreButton from "../../components/GlobalLeaderboards/styles.module.scss";
}
