.root {
  padding: 20px;
}

.title {
  text-align: center;
}

.leaderboards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 32px;

  & > div {
    margin: 0 16px;
    width: 100%;
    max-width: 500px;
  }
}

.section {
  text-align: center;
  margin-bottom: 48px;
}

.moreButton {
  background: none;
  padding: 0;
  border: none;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  appearance: none;
  outline: none !important;
  cursor: pointer;
  transition: 50ms ease-in opacity;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    opacity: 0.75;
  }
}

.explainer {
  font-size: 0.9em;
  opacity: 0.9;
  text-align: center;
  margin-bottom: 32px;
}
