.root {
  content: "hello";
  padding: 20px;
}

.title {
  text-align: center;
}

.leaderboards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  & > div {
    margin: 0 16px;
    width: 100%;
    max-width: 500px;
  }
}
